[defaults]
inventory = ./inventory
host_key_checking = False
# usuario para ovh
# remote_user=ubuntu
# usuario para contabo
remote_user=root
gathering = smart
interpreter_python= auto_silent
# Aumenta paralelismo (por encima de 7)
forks            = 20

# descomentar para usar usuario ubuntu en ovh
#[privilege_escalation]
#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False

