<!doctype html>
<html>
<head>
    <title>Welcome to {{ app }} </title>
    <meta charset="utf-8">
</head>
<body>
<h1>Anda!! un servidor montado con la ip {{ansible_all_ipv4_addresses[0]}} en una {{ansible_distribution}}
con <strong>Ansible</strong> con la versión de kernel {{ ansible_facts.kernel_version }}</h1>
<h2>!!Cómo mola!!</h2>
</body>
</html>
