DEVICE=eth0
BOOTPROTO=none
ONBOOT=yes
HOSTNAME={{ansible_hostname}}
TYPE=Ethernet
DHCP_HOSTNAME={{ansible_hostname}}
IPV6INIT=yes
PROXY_METHOD=none
BROWSER_ONLY=no
IPADDR={{ansible_default_ipv4['address']}}
PREFIX={{ansible_default_ipv4['prefix']}}
GATEWAY={{ansible_default_ipv4['gateway']}}
DNS1=8.8.8.8
DNS2=8.8.4.4
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
NAME="System eth0"
